In [1]:
# Import Dependencies
import pandas as pd

# importing numpy as np 
import numpy as np

In [2]:
#LOADING DATA: Student Complete Data File to Load
students_path = "Resources/students_complete.csv"

# Read the modified Students Complete csv and store into Pandas DataFrame
students_df = pd.read_csv(students_path, encoding="utf-8")
students_df.head()

#Consider confirming with Huang High School that teachers are not accidentally present in dataset - i.e. Dr. Richard Scott

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
#DATA CLEANING: identify any incomplete rows
students_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [4]:
# LOADING DATA: Schools Complete Data File to Load
schools_path = "Resources/schools_complete.csv"

# Read the modified Schools Complete csv and store into Pandas DataFrame
schools_df = pd.read_csv(schools_path, encoding="utf-8")
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
#DATA CLEANING: identify any incomplete rows
schools_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [6]:
#DATA CLEANING: detect any duplicates or misspellings
schools_df['school_name'].value_counts()

Wright High School       1
Johnson High School      1
Pena High School         1
Figueroa High School     1
Huang High School        1
Ford High School         1
Hernandez High School    1
Rodriguez High School    1
Bailey High School       1
Thomas High School       1
Cabrera High School      1
Wilson High School       1
Holden High School       1
Griffin High School      1
Shelton High School      1
Name: school_name, dtype: int64

In [9]:
#DATA CLEANING: Identify data types
merge_table.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [32]:
# MERGING TABLES: merge two dataframes using an outer join
#merge_table = pd.merge(students_df, schools_df, on="school_name", how="outer")
#merge_table.head()

In [11]:
# Find students "passing Math" with a 70% or above
#passing_math = merge_table.loc[merge_table["math_score"] >= 70, [
    #'Student ID', 'student_name', 'gender', 'grade', 'school_name',
     #  'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget', ]]
#passing_math.head()

In [39]:
# Find students "passing Math" with a 70% or above
passing_math_df = students_df.loc[students_df["math_score"]>= 70, :]
passing_math_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87

In [56]:
# Find students "passing Reading" with a 70% or above
passing_reading_df = students_df.loc[students_df["reading_score"]>= 70, :]
passing_reading_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80

In [100]:
# Find students "passing Reading" with a 70% or above
#passing_reading = merge_table.loc[merge_table["reading_score"] >= 70, [
    #'Student ID', 'student_name', 'gender', 'grade', 'school_name',
       #'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget', ]]
#passing_reading.head()

In [80]:
# Create a new DataFrame that looks into a specific school
#baileyhs = merge_table.loc[merge_table["school_name"] == "Bailey High School"]
#baileyhs.head()

In [81]:
# Count how many students are in each school
#student_school_counts_series = merge_table["school_name"].value_counts()
#student_school_counts_series

In [82]:
# Convert the student_school_counts Series into a DataFrame
#student_school_counts_df = pd.DataFrame(student_school_counts_series)
#student_school_counts_df

In [83]:
# Using GroupBy in order to separate the data into fields according to "state" values
#grouped_merge_table = merge_table.groupby(['school_name'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
#print(grouped_merge_table)

# In order to be visualized, a data function must be used...
#grouped_merge_table.count().head(10)

District Summary

In [57]:
# High-level snapshot of districts key metrics

#Total Schools
schools_total = schools_df["school_name"].count()
schools_total

#Total Students
students_total = students_df["Student ID"].count()
students_total

#Total Budget
budget_total = schools_df["budget"].sum()
budget_total

#Average Math Score
math_average_total = students_df["math_score"].mean()
math_average_total_round = round(math_average_total, 6)
math_average_total_round

#Average Reading Score
reading_average_total = students_df["reading_score"].mean()
reading_average_total_round = round(reading_average_total, 6)
reading_average_total_round

# % Passing Math
passing_math_total = (passing_math_df["Student ID"].count()/ students_total) * 100
passing_math_total_round = round(passing_math_total, 6)
passing_math_total_round

# % Passing Reading
passing_reading_total = (passing_reading_df["Student ID"].count()/ students_total) * 100
passing_reading_total_round = round(passing_reading_total, 6)
passing_reading_total_round

# Overall Passing Rate
overall_passing_rate = (passing_reading_total_round + passing_math_total_round)/2
overall_passing_rate

# Creating a summary DataFrame using above values
high_level_snapshot_df = pd.DataFrame({"Total Schools": [schools_total],
                           "Total Students": [students_total],
                           "Total Budget": [budget_total],
                           "Average Math Score": [math_average_total_round],
                           "Average Reading Score": [reading_average_total_round],
                           "% Passing Math": [passing_math_total_round],
                           "% Passing Reading": [passing_reading_total_round],
                           "Overall Passing Rate": [overall_passing_rate]})

high_level_snapshot_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [22]:
# Merge two dataframes using an outer join
#merge_table = pd.merge(students_df, schools_df, on="school_name", how="outer")
#merge_table = pd.merge(students_df[['school_name', 'gender', 'grade']], schools_df, on="school_name", how="outer")
#merge_table.head()

In [23]:
# Using GroupBy in order to separate the data into fields according to "state" values
#grouped_merge_table = merge_table.groupby(['school_name'])
#https://stackoverflow.com/questions/32751229/pandas-sum-by-groupby-but-exclude-certain-columns

# The object returned is a "GroupBy" object and cannot be viewed normally...
#print(grouped_merge_table)

# In order to be visualized, a data function must be used...
#grouped_merge_table.count().head(10)

In [ ]:
#FOR SCHOOL SUMMARY

#CREATE NEW TABLE by merging grouped_merge_table and schools_df using school_name

#Use from grouped_merge_table: school_name, School ID which is total students, reading_score to create average, 
#math_score to create average

#Use from schools_df: type, size, budget, budget use for per student budget


#THEN passing_math groupby or loc school_name
#THEN passing_reading groupby or loc school_name
#THEN CREATE PASSING TABLE by merging those based on school_name

#THEN merge NEW TABLE and PASSING TABLE based on school_name

In [21]:
# Merge two dataframes using an outer join
#school_summary = pd.merge(merge_table [["school_name", "School ID", "reading_score", "math_score"]], schools_df, on="school_name", how="outer")
#merge_table = pd.merge(students_df[['school_name', 'gender', 'grade']], schools_df, on="school_name", how="outer")
#school_summary.head()

In [103]:
#average_reading_score = students_df.groupby('school_name')['reading_score'].mean()
#average_reading_score

#avg_reading_score_df = pd.DataFrame({'school_name':average_reading_score.index, 'avg_reading_score':average_reading_score.values})
#avg_reading_score_df

In [104]:
#average_math_score = students_df.groupby('school_name')['math_score'].mean()
#average_math_score

#avg_math_score_df = pd.DataFrame({'school_name':average_math_score.index, 'avg_math_score':average_math_score.values})
#avg_math_score_df

In [105]:
#number of students passing math by highschool
#count_passing_math = passing_math_df.groupby('school_name')['math_score'].count()
#count_passing_math

#count_passing_math_df = pd.DataFrame({'school_name':count_passing_math.index, 'count_passing_math':count_passing_math.values})
#count_passing_math_df

In [106]:
#number of students passing reading by highschool
#count_passing_reading = passing_reading_df.groupby('school_name')['reading_score'].count()
#count_passing_reading

#count_passing_reading_df = pd.DataFrame({'school_name':count_passing_reading.index, 'count_passing_reading':count_passing_reading.values})
#count_passing_reading_df

In [107]:
# Merge two dataframes using an outer join
#schools_join_avgread_df = pd.merge(schools_df, avg_reading_score_df, on="school_name", how="outer")
#merge_table = pd.merge(students_df[['school_name', 'gender', 'grade']], schools_df, on="school_name", how="outer")
#schools_join_avgread_df.head()

In [108]:
# Merge two dataframes using an outer join
#schools_join_avgmath_df = pd.merge(schools_join_avgread_df, avg_math_score_df, on="school_name", how="outer")
#merge_table = pd.merge(students_df[['school_name', 'gender', 'grade']], schools_df, on="school_name", how="outer")
#schools_join_avgmath_df.head()

In [109]:
# Merge two dataframes using an outer join
#schools_join_countread_df = pd.merge(schools_join_avgmath_df, count_passing_reading_df, on="school_name", how="outer")
#merge_table = pd.merge(students_df[['school_name', 'gender', 'grade']], schools_df, on="school_name", how="outer")
#schools_join_countread_df.head()

In [110]:
# Merge two dataframes using an outer join
#schools_join_countmath_df = pd.merge(schools_join_countread_df, count_passing_math_df, on="school_name", how="outer")
#merge_table = pd.merge(students_df[['school_name', 'gender', 'grade']], schools_df, on="school_name", how="outer")
#schools_join_countmath_df.head()

In [111]:
#schools_join_countmath_df['percent_passing_math'] = (schools_join_countmath_df["count_passing_math"]/ schools_join_countmath_df["size"]) * 100
#schools_join_countmath_df

In [112]:
#schools_join_countmath_df['percent_passing_reading'] = (schools_join_countmath_df["count_passing_reading"]/ schools_join_countmath_df["size"]) * 100
#schools_join_countmath_df

In [113]:
#schools_join_countmath_df['Overall_passing_rate'] = (schools_join_countmath_df["percent_passing_reading"] + schools_join_countmath_df["percent_passing_math"])/ 2
#schools_join_countmath_df.head()

In [114]:
#Calculating per student budget
#schools_join_countmath_df['Per_student_budget'] = (schools_join_countmath_df["budget"] / schools_join_countmath_df["size"])
#schools_join_countmath_df.head()

In [115]:
#SCHOOL SUMMARY

#Average Reading Score by School
average_reading_score = students_df.groupby('school_name')['reading_score'].mean()
average_reading_score

avg_reading_score_df = pd.DataFrame({'school_name':average_reading_score.index, 'avg_reading_score':average_reading_score.values})
avg_reading_score_df

#Average Math Score by School
average_math_score = students_df.groupby('school_name')['math_score'].mean()
average_math_score

avg_math_score_df = pd.DataFrame({'school_name':average_math_score.index, 'avg_math_score':average_math_score.values})
avg_math_score_df

#Count of students passing Math by School
count_passing_math = passing_math_df.groupby('school_name')['math_score'].count()
count_passing_math

count_passing_math_df = pd.DataFrame({'school_name':count_passing_math.index, 'count_passing_math':count_passing_math.values})
count_passing_math_df

#Count of students passing Reading by School
count_passing_reading = passing_reading_df.groupby('school_name')['reading_score'].count()
count_passing_reading

count_passing_reading_df = pd.DataFrame({'school_name':count_passing_reading.index, 'count_passing_reading':count_passing_reading.values})
count_passing_reading_df

# Joining Schools with Average Reading Score 
schools_join_avgread_df = pd.merge(schools_df, avg_reading_score_df, on="school_name", how="outer")
schools_join_avgread_df.head()

# Joining Schools with Average Math Score
schools_join_avgmath_df = pd.merge(schools_join_avgread_df, avg_math_score_df, on="school_name", how="outer")
schools_join_avgmath_df.head()

# Joining Schools with Count of Students Passing Reading by School
schools_join_countread_df = pd.merge(schools_join_avgmath_df, count_passing_reading_df, on="school_name", how="outer")
schools_join_countread_df.head()

# Joining Schools with Count of Students Passing Math by School
schools_join_countmath_df = pd.merge(schools_join_countread_df, count_passing_math_df, on="school_name", how="outer")
schools_join_countmath_df.head()

#Calculating Percent of Students Passing Math by School
schools_join_countmath_df['percent_passing_math'] = (schools_join_countmath_df["count_passing_math"]/ schools_join_countmath_df["size"]) * 100
schools_join_countmath_df

#Calculating Percent of Student Passing Reading by School
schools_join_countmath_df['percent_passing_reading'] = (schools_join_countmath_df["count_passing_reading"]/ schools_join_countmath_df["size"]) * 100
schools_join_countmath_df

#Calculating Overall Passing Rate by School
schools_join_countmath_df['Overall_passing_rate'] = (schools_join_countmath_df["percent_passing_reading"] + schools_join_countmath_df["percent_passing_math"])/ 2
schools_join_countmath_df.head()

#Calculating Budget per Student by School
schools_join_countmath_df['Per_student_budget'] = (schools_join_countmath_df["budget"] / schools_join_countmath_df["size"])
schools_join_countmath_df.head()

#Renaming columns in dataframe
school_rename_df = schools_join_countmath_df.rename(columns={"school_name":"School Name", 
                                                             "type":"School Type",
                                                             "size": "Total Students", 
                                                             "budget": "Total School Budget", 
                                                             "Per_student_budget": "Per Student Budget", 
                                                             "avg_math_score": "Average Math Score",
                                                             "avg_reading_score": "Average Reading Score",
                                                             "percent_passing_math": "% Passing Math",
                                                             "percent_passing_reading": "% Passing Reading",
                                                             "Overall_passing_rate": "% Overall Passing Rate"})

school_rename_df.head()

#Reformating columns in dataframe
school_rename_df["Total School Budget"] = school_rename_df["Total School Budget"].map("${:,.2f}".format)
school_rename_df["Per Student Budget"] = school_rename_df["Per Student Budget"].map("${:,.2f}".format)
school_rename_df.head()

#Creating final dataframe
school_summary_df = school_rename_df.loc[:, ['School Name', 'School Type', 'Total Students',
       'Total School Budget', 'Per Student Budget','Average Reading Score', 'Average Math Score',
       '% Passing Math','% Passing Reading', '% Overall Passing Rate']]

school_summary_df.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Huang High School,District,2917,"$1,910,635.00",$655.00,81.182722,76.629414,65.683922,81.316421,73.500171
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,81.158020,76.711767,65.988471,80.739234,73.363852
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.725724,83.359455,93.867121,95.854628,94.860875
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,80.934412,77.289752,66.752967,80.862999,73.807983
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.816757,83.351499,93.392371,97.138965,95.265668

In [126]:
#Top Performing Schools By Pass Rate
top_schools_df = school_summary_df.sort_values("% Overall Passing Rate", ascending=False)
#top_schools_df.head(5)

top_schoos_new_index = top_schools_df.reset_index(drop=True)
top_schoos_new_index.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.975780,83.061895,94.133477,97.039828,95.586652
1,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.848930,83.418349,93.272171,97.308869,95.290520
2,Pena High School,Charter,962,"$585,858.00",$609.00,84.044699,83.839917,94.594595,95.945946,95.270270
3,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.816757,83.351499,93.392371,97.138965,95.265668
4,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.989488,83.274201,93.867718,96.539641,95.203679

In [128]:
#Bottom Performing Schools By Pass Rate
bottom_schools_df = school_summary_df.sort_values("% Overall Passing Rate", ascending=True)
#top_schools_df.head(5)

bottom_schoos_new_index = bottom_schools_df.reset_index(drop=True)
bottom_schoos_new_index.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,80.744686,76.842711,66.366592,80.220055,73.293323
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,81.158020,76.711767,65.988471,80.739234,73.363852
2,Huang High School,District,2917,"$1,910,635.00",$655.00,81.182722,76.629414,65.683922,81.316421,73.500171
3,Johnson High School,District,4761,"$3,094,650.00",$650.00,80.966394,77.072464,66.057551,81.222432,73.639992
4,Ford High School,District,2739,"$1,763,916.00",$644.00,80.746258,77.102592,68.309602,79.299014,73.804308

In [141]:
#Math Scores By Grade
math_score_students_school = students_df.groupby('grade')
math_score_students_school.head()
#math_score_students_school_grade = math_score_students_school.groupby('school_name')
#math_score_students_school_grade

# Create a GroupBy object based upon "View Group"
#ted_group = ted_df.groupby("View Group")
#Count of students passing Math by School
#count_passing_math = passing_math_df.groupby('school_name')['math_score'].count()
#count_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
24,24,Chelsea Griffith,F,11th,Huang High School,85,73
28,28,Kelly James,F,11th,Huang High School,73,55
29,29,Nicole Brown,F,12th,Huang High School,90,88